.modalToggle {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  border: 0px solid black;
  border-radius: 100px;
  color: black;
  background-color: #EFEFEF;
  cursor: pointer;
  display: grid;
  place-items: center;
  align-items: center;
  transition: 0.2s ease;
}

.modalToggle:hover {
  transform: rotate(180deg);
}

.icon {
  width: 14x;
  height: 14px;
  color: rgb(180, 180, 180);
}

.modalContainer {
  width: 300px;
  background-color: white;
  border: 1px solid rgb(195, 195, 195);
  position: fixed;
  padding: 20px;
  right: 20px;
  top: 70px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalInput {
  font-family: "Arial", "Helvetica", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 600px;
  resize: vertical;
  overflow: auto;
  padding: 8px;
  border: 1px solid rgb(195, 195, 195);
}

.modalInput::placeholder {
  color: rgb(195, 195, 195);
}

.select {
  width: 100%;
}

.modalButton {
  width: 100%;
  padding-block: 3px;
  border: 1px solid rgb(195, 195, 195);
  background-color: #EFEFEF;
  cursor: pointer;
}

.modalButton:hover {
  border: 1px solid rgb(170, 170, 170);
}

.slider {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.thumb {
  background: white;
  border: 1.5px solid rgb(195, 195, 195);
  border-radius: 100%;
  display: block;
  width: 10px;
  height: 10px;
  bottom: -8px;
}

.track {
  background: #EFEFEF;
  height: 4px;
}